// Grid position

.boat_detailing__packages {
  grid-column: 2;
}

// Background divider

.boat_detailing__background {
  grid-column: 1 / -1;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  bottom: 6%;
  z-index: -1;
}

// Detailing Cards

.boat_detailing__cards{
  display: flex;
  justify-content: space-around;
  margin: 140px 0 106px 0;
}

.boat_detailing__card {
  background-color: #181818;
  width: 30%;
  padding: 40px;
  border-radius: 30px;
  display: grid;
  grid-template: 470px / 1fr;

  h3{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
  }

  p {
    color: #C8C6C6;
    text-align: center;
    font-size: 12px;
  }

  ul{
    color: white;
    font-size: 15px;
    padding-left: 30px;
    line-height: 1.8;
    margin: 0;
  }

  .boat_detailing__price {
    font-size: 24px;
    color: white;
    text-align: right;
    margin: 15px 0;
  }

  .boat_detailing__list {
    margin: 65px 0 25px 0;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

// Media Query for medium screens

@media (min-width: 1900px){
  .boat_detailing__card{
    width: 18%;
  }

  .boat_detailing__cards{
    margin-bottom: 169px;
  }
}

@media (max-width: 1000px) {
  .boat_detailing__cards {
    flex-direction: column;
    align-items: center;

    .boat_detailing__card {
      width: 80%;
      margin-bottom: 50px;
    }

    a {
      display: flex;
      justify-content: right;

      button {
        margin: 0;
      }
    }
  }
}
