@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Julius+Sans+One&family=Lobster+Two:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

// Defaults

body {
  font-family: 'Rubik';
  font-size: 24px;
  color: #100F0D;
  margin: 0;
  scroll-behavior: smooth;
  line-height: 2;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 90px;
  line-height: 1.5;
  font-weight: 400;
  color: #100F0D;
}

h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
  color: #38B6FF;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #38B6FF;
  font-family: 'Rubik';
  margin: 0;
}

a {
  text-decoration: none;
}

// Layout

.grid {
  display: grid;
  grid-template-columns: 100px auto 100px;
  min-width: 0;
  position: relative;
}

// Navbar

nav {
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #100F0D;
  padding: 0 100px;
  box-shadow: 1px 1px 30px #38b6ff;
  z-index: 1;

    .bar {
      color: white;
      cursor: pointer;
      display: none;
    }

    .navbar_links {

      a {
        color:  white;
        margin-left: 50px;
        font-size: 15px;
        border-bottom: transparent solid 1px;
        padding-bottom: 5px;

      }

      a:hover {
        color: #38B6FF;
        border-bottom: white solid 3px;
        transition: all 0.1s;
      }

    }

}

// Button

button {
  background-color: #38B6FF;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 1em 2em;
  font-size: 16px;
  cursor: pointer;
  transition: transform, 0.3s;
}

button:hover {
  transform: scale(1.1);
  color: black;
  box-shadow: 1px 1px 20px #38B6FF;
}

// Footer

footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #100F0D;
  gap: 30px;
  padding: 0 100px;

  .footer_description {
    text-align: right;

    p {
      color: white;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }

  .footer_socialMedia_container {
  text-align: center;
  }

  .footer_socialMedia_logo {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  .footer_facebook {
    color: #0C87EF;
  }

  .footer_facebook:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 10px #0C87EF);
  }

  .footer_instagram {
    color: #CF004B;
  }

  .footer_instagram:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 10px #CF004B);
  }

  .footer_youtube {
    color: #FF0000;
  }

  .footer_youtube:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 10px #FF0000);
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_copyright{
    color: black;
  }

  .copyright_description{
    color: black;
    font-size: 15px;
  }
}


.border {
  grid-column: 2;
  border: 1px solid black;
  width: 30%;
  margin: 80px auto;
  border-radius: 5px;
}

// Hero text

.page_hero {
  grid-column: 2;
  height: 53vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  h1 {
    text-align: center;
    margin: 0;
  }
}

// Hero Image

.page_image_1 {
  margin-top: 70px;
  grid-column: 1 / -1;
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

// Paragraph

.page_para {
  grid-column: 2;
}

// Pictures Grid

.page__boat_pics {
  margin-bottom: 80px;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 50px;

  .page__pic {
    width: 100%;
    height: 388px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
}

// Form

form {
  display: grid;
  grid-template: 60px 150px auto / repeat(6, 1fr);
  gap: 70px;
  align-items: center;

  .message {
    grid-column: 1 / -1;

    textarea {
      display: block;
      width: 100%;
      height: 100px;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #100F0D;
      outline: 0;
      padding: 0.5em;
    }
  }

  .first_name {
    grid-column: 1 / 3;
  }

  .email {
    grid-column: 3 / 5;
  }

  .phone_number {
    grid-column: 5 / -1;
  }

  label {
    font-size: 16px;
  }

  input {
    display: block;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #100F0D;
    padding: 0.5em;
    outline: 0;
    width: 100%;
  }

  input[type=text]:focus, textarea:focus {
    border-bottom: 2px solid #38B6FF;
  }

  .submit {
    grid-column: 1 ;
    width: 150px;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

// Media Query for medium

@media (max-width: 800px) {

  body {
    font-size: 16px;
  }

  nav {
      .bar {
        display: block;
        font-size: 30px;
      }
  }

  .dropdown {
    grid-column: 1 / -1;
    height: 92vh;
    background-color: #100F0D;
    position: sticky;
    top: 70px;
    z-index: 1;

    .navbar_links {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      height: 85%;
      margin: 0 auto ;

      a {
        display: flex;
        margin: 30px 0 30px 20%;
        color: white;
        font-size: 30px;
        align-items: center;
        font-size: 20px;

        .icon {
          color: #38B6FF;
          margin-right: 20px;
        }
      }
    }
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 15px;
  }

  form {
    grid-template: auto / 1fr 1fr;

    .message {
      grid-column: 1 / -1;

      textarea {
        display: block;
        width: 100%;
        height: 100px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #100F0D;
        outline: 0;
        padding: 0.5em;
      }
    }

    .first_name {
      grid-column: 1 ;
    }

    .email {
      grid-column: 2;
    }

    .phone_number {
      grid-column: 1 / -1;
    }

    label {
      font-size: 16px;
    }
  }



  footer {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 50px 0 50px;

    .footer_logo {
      grid-row: 1 / 3;
    }

    .footer_description {
      grid-column: 2 / 3;
      text-align: center;

      p {
        font-size: 10px;
      }
    }
  }

}

// Media Query for Mobile
@media (max-width: 650px) {
  body {
    text-align: justify;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .grid {
    grid-template-columns: 50px auto 50px;
  }

  nav {
    padding: 0 50px;
  }

  footer {

    .footer_logo {

      img {
        width: 150px;
        height: 150px;
      }
    }

    .footer_socialMedia_logo {
      font-size: 15px;
    }
  }
}


// Others

.show {
  display: inline;
}

.hidden {
  display: none;
}
