@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Julius+Sans+One&family=Lobster+Two:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

body {
  font-family: 'Rubik';
  font-size: 24px;
  color: #100F0D;
  margin: 0;
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-columns: 100px auto 100px;
  min-width: 0;
  position: relative;

  nav {
  grid-column: 1 / -1;
  }

  footer {
    grid-column: 1 / -1;
  }
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #100F0D;
  padding: 0 60px;
  box-shadow: 0px 5px 30px #38B6FF;
  z-index: 1;
}

.navbar_links a{
  color: #38B6FF;
  text-decoration: none;
  margin-left: 50px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: transparent solid 1px;
  padding-bottom: 5px;
}

.navbar_links a:hover {
  color: white;
  border-bottom: #38B6FF solid 3px;
  transition: all 0.1s;
}

h1 {
  font-family: "lobster two";
  font-size: 90px;
  line-height: 1.5;
}

h2 {
  font-family: "lobster two";
  font-size: 60px;
  color: #38B6FF;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  color: #38B6FF;
  font-family: 'Rubik';
  margin: 0;
}

button {
  background-color: #38B6FF;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  font-size: 24px;
  cursor: pointer;
  transition: transform, 0.3s;
}

button:hover {
  transform: scale(1.1);
  color: white;
  box-shadow: 1px 1px 20px #38B6FF;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #100F0D;
  padding: 0 100px;
}

.footer_description p {
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer_socialMedia_container {
  margin: 0 0 69px 60px;
}

.footer_socialMedia_logo {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer_facebook {
  color: #0C87EF;
}

.footer_facebook:hover {
  transform: scale(1.1);
}

.footer_instagram {
  color: #CF004B;
}

.footer_instagram:hover {
  transform: scale(1.1);
}

.footer_youtube {
  color: #FF0000;
}

.footer_youtube:hover {
  transform: scale(1.1);
}
